.custom-header {
    background: #000000; 
    color: #f0f0f0; 
    // fontWeight: bold;
}

.custom-paper {
    background-color: #f5f5f5; // Cor de fundo
    color: #333; // Cor do texto
    
    h6 {
        color: #007bff; // Cor específica para o título
    }

    .MuiTextField-root {
        // Altere a cor dos campos de texto, se necessário
        color: #000;

        // Customize a borda do TextField

    }

    .MuiFormControl-root {
        margin-top: 15px; // Exemplo de customização adicional
    }
}