// Here you can add other styles
.sidebar-brand-full {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
